*{
  margin: 0;
  padding: 0;
}
h1{
  text-align:center;
}
body{
  background: #cccccc
}
p{
  text-align: center;
  font-size:20px
}
em strong{
  color: orange;
}
#missao{
  font-size:30px
}
#banner{
  width:100%
}
principal{
  background-color: #cccccc
  podding:30px
}
itens{
  font-style:italic
}
beneficios{
  background:#ffffff
  podding:20px
}
